/***********************************************/
/***************** FOR TESTING *****************/
/***********************************************/

/*
// Dummy switch for testing
function DummySwitch() {
  this.isOn = false;

  this.setOn = function() {
    this.isOn = true;
  };

  this.setOff = function() {
    this.isOn = false;
  };

  this.destroy = function() {
    // No op
  }
}
*/

/***********************************************/
/***************** DEVELOPMENT *****************/
/***********************************************/

/*var powerSwitch = new DummySwitch();

module.exports.powerSwitch = powerSwitch;*/

/***********************************************/
/****************** PRODUCTION *****************/
/***********************************************/

var ps = require('powerswitch'); // Will only work on a system with GPIO pins! Otherwise you'll get build errors

module.exports.SWITCH_GPIO_PIN = 18;
module.exports.powerSwitch = new ps(module.exports.SWITCH_GPIO_PIN);
